.hs-bg-cyan{
    background-color:#59b9c7;
}

.hs-brand{
    max-width:100px;
}

.hs-bg-dark-green{
    background-color:#227D6B;
}

.hs-font-cyan{
    color:#59b9c7;
}

.hs-contact-info{
    color:#227D6B;
}

.hs-font-dark-green{
    color:#227D6B;
}

.hs-font-light-green{
    color: #80c064; 
}

.hs-border-3{
    border-style: solid;
    border-color: #59b9c7; 
}

.logo-container{
    width: 200px; 
}

.hs-logo {
max-width: 250px;
}

.hs-navbar{
    color:#227D6B;
}

.hs-navbar-item{
    padding: 10px;
    color:#227D6B;
    text-decoration: none;
}


.hs-section{
    width:100%;
    min-height:840px;
    color:#045434;
    margin:0 auto;
    pointer-events: auto;
    vertical-align: baseline;
}

.hs-section-s{
    width:100%;
    min-height:600px;
}

.hs-test-element{
    min-height:840px;
}

.hs-img{
    max-width:800px;
}

.hs-image-sprouts{
background-image: url("sprouts.jpg")top left no-repeat;
}

.hs-bg-cyan-opacity{
background-color: #59b8c75e;
}

.hs-title{
    font-weight: lighter;
    color: #59b9c7;
    font: normal normal normal 70px/1.2em cormorantgaramond-light,cormorantgaramond,'cormorant garamond',serif;
margin:auto;
padding:auto;
}


@media only screen and (max-width: 400px){

    .hs-title{
        font-weight: lighter;
    color: #59b9c7;
    font: normal normal normal 88px/1.2em cormorantgaramond-light,cormorantgaramond,'cormorant garamond',serif;
font-size:10vw;
    }    
}

.hs-padding{
    min-height:130px;
}

.hs-padding-i{
    display:none;
    min-height:130px;
}

.hs-padding-s{
    min-height:70px;
}


.hs-font{
    line-height: 1.41em;
    font: normal normal normal 22px/1.41em cormorantgaramond-light,cormorantgaramond,'cormorant garamond',serif;
    color: #045434;
    margin:auto;
}

.hs-info-element{
    min-height: 130px;
}

.hs-info-padding{
    min-height: 70px;
}



.hs-info-title{
    font-weight:bold;
    color: white;
    letter-spacing: normal;
    line-height: 1.35em;
    font: normal normal normal 44px/1.2em cormorantgaramond-light,cormorantgaramond,'cormorant garamond',serif;
    width: 100%;
}

.hs-info-text{
    text-align: center;
    font: normal normal normal 19px/1.41em cormorantgaramond-light,cormorantgaramond,'cormorant garamond',serif;
    color: white;
    width: 80%;
    margin:auto;
}

.hs-info-subtitle{
    font: normal normal normal 17px/1.8em raleway,sans-serif;
    color: white;
}

.hs-info{
    background-color:#59b9c7;
}

.hs-banner-img{
    max-height:150px;
    
}


.hs-subscribe-element{
    min-height:150px;
}

.hs-subscribe-btn{
        background-color:#59b9c7 ;
        color:white;
}

.hs-story-card{
    width:18rem;
}

.hs-banner-container{
    min-height:300px;
}

.hs-banner{
    height:200px;
}

.hs-contact-element{
    min-height:170px;
}

.hs-card{
    min-height:350px;
    padding:10px;
}

.hs-ref-bg{
    background-color:#045434;
}

.hs-ref-text{
    color:white;
    text-decoration-color:white;

}

.hs-bg-transparent{
    background: transparent !important;
}